src/main/mule/agftry1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="9c34af8d-4754-4edc-8eed-e17d4f88935c" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="agftry1Flow" doc:id="ddba9994-1151-4ceb-9c30-a77aa3e416f9" >
		<http:listener doc:name="Listener" doc:id="3648048b-66b8-4b65-a65c-dab9a12a2e02" config-ref="HTTP_Listener_config" path="/agftry1"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="ffe4d022-7b65-435d-a4f4-722418ec45a2" />
	</flow>
</mule>
